@import "../../../thema.scss";

.header {
    height: 52px;
    background-color: #f5f5f5;
    box-shadow: 0px 5px 5px #dcdcdc;
    margin-bottom: 20px;
    
    .title {
        float: left;
        height: 36px;
        padding-left: 16px;
        padding-top: 16px;
        font-weight: 700;
        color: $text-color;
    }
    .menu-user {
        float: right;
        padding-top: 10px;
        padding-right: 16px;
        img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
    }
}